#########UNREAL GEENRATED FILES#########
*/BuildingEscape/Build/
*/BuildingEscape/Binaries/
*/BuildingEscape/DerivedDataCache/
*/BuildingEscape/Intermediate/
*/BuildingEscape/Saved/
03_BuildingEscape/BuildingEscape/Content/StarterContent/
03_BuildingEscape/BuildingEscape/Content/KiteDemo/

#########VS GEENRATED FILES#########
*.VC.db
*.vs